<%- include("partials/header") -%>

<h1>Compose</h1>

<form class="form-group" action="/compose" method="post">

  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="titleInput" value="">
  </div>

  <div class="form-group">
    <label>Post</label>
    <textarea class="form-control" name="postInput" rows="8" cols="80"></textarea>
  </div>



  <button class="btn btn-primary compose" type="submit" name="compose">Publish</button>
</form>

<%- include("partials/footer") -%>
